.aboutus {
  width: 90%;
  align-self: center;

  .aboutus-top {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
    align-items: start;

    .left {
      flex-grow: 1;
      width: 30%;
      padding: 3em;

      .title {
        margin: 0;
        width: 80%;
      }
    }

    .right {
      flex-grow: 1;
      width: 40%;
      padding: 3em;

      .accordion {
        padding: 0 2em 0 2em;
        width: 50vw;
        --bs-accordion-bg: inherit;
        --bs-accordion-border-color: inherit;
        font-size: 1.2em;
        font-weight: 300;

        .accordion-item {
          border-bottom: 1px black solid;
          border-radius: 0;
          --bs-accordion-active-color: black;

          .accordion-header {
            .accordion-button {
              box-shadow: inherit !important;
              font-size: 0.7em;
              font-weight: 500;
            }

            .accordion-button[aria-expanded="true"] {
              background-color: inherit;
            }
          }

          .accordion-body {
            margin-bottom: 20px;
          }
        }
      }

    }
  }

  .aboutus-middle {
    .middletop {
      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
        margin: 2em;
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5em;

        .middleftimg {
          img {
            width: 40em;
            border-radius: 30% 20% 30% 70% / 150% 60% 190%;
          }
        }

        .special-sauce {
          width: 50%;
          padding-left: 5em;
          padding-right: 5em;
          
          .special-sauce-title {
            margin-bottom: 1em;
            font-size: 1.5em;
          }
          
          .special-sauce-text {
            font-size: 1.2em;
            font-weight: 200;
            line-height: 1.7em;
            margin: 0;
          }
        }
      }
    }
    
    .middlebottom {
      display: flex;
      align-items: center;
      .left {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .special-sauce {
          width: 80%;
          padding-left: 5em;
          padding-right: 5em;
          margin-bottom: 5em;
          
          .special-sauce-title {
            margin-bottom: 1em;
            font-size: 1.5em;
          }
          .special-sauce-text {
            font-size: 1.2em;
            font-weight: 200;
            line-height: 1.7em;
            margin: 0;
          }
        }
      }
      
      .right {
        flex-grow: 1;
        img{
          width: 30vw;
        }
      }
    }
  }

  .aboutus-testimonials{
    margin-bottom: 5em;
    h1 {
      text-align: center;
      margin: 2em;
    }
    .testimonials{
      display: flex;
      justify-content: space-between;
      padding-left: 2em;
      padding-right: 2em;
      .single-testimonial{
        width: 40%;
        margin: 2em;
        .top{
          h2 {
            font-size: 2em;
          }
        }
        .bottom{
          margin-top: 2em;
          display: flex;
          align-items: center;
          img{
            width: 20%;
            border-radius: 100%;
            margin: 1em;
          }
        }
      }
    }
  }
}