@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap');

$font-stack: 'Poppins', 'Roboto', sans-serif;
$text-color: black;
$primary-color: #bd63ef;
$secondary-color: #ffcf6c;
