@import '../../global/variables.scss';

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: $text-primary-color;
  color: $text-secondary-color;
  padding: 0em 4em;
  margin-top: auto;

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-logo {
      display: flex;
      margin: 1.5em 1em;
      
      h1 {
        font-size: 2em;
        align-self: center;
        margin: 0 1em;
      }

      p {
        width: 40%;
        font-size: 1em;
        margin: 0;
        align-self: center;
      }
    }

    .socials {
      display: flex;
      flex-wrap: nowrap;
      a {
        img {
          color: $text-secondary-color;
          margin: 10px;
          width: 2vh;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;

    .projectby {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-secondary-color;

        img {
          width: 2vh;
          height: 2vh;
          margin: 10px;
        }

        p {
          margin: 0;
          font-weight: 200;

          &:hover {
            font-weight: 600;
          }
        }
      }

    }
  }
}