@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap");
* {
  font-family: "Poppins", "Roboto", sans-serif;
}

html {
  margin: 0;
}

body {
  background: linear-gradient(to bottom, #bd63ef, #ffcf6c);
  background-repeat: no-repeat;
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

nav {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.125em 5em;
}
nav .navbar-logo a {
  text-decoration: none;
}
nav .navbar-logo a h1 {
  color: black;
  font-size: 3em;
  font-weight: 900;
  margin: 0.5em 0;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}
nav ul a {
  margin: 5px;
  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  color: black;
}
nav ul a:active {
  color: black;
}
nav ul a:hover {
  font-weight: 700;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: black;
  color: #e6e6e6;
  padding: 0em 4em;
  margin-top: auto;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-top .footer-logo {
  display: flex;
  margin: 1.5em 1em;
}
footer .footer-top .footer-logo h1 {
  font-size: 2em;
  align-self: center;
}
footer .footer-top .footer-logo p {
  width: 40%;
  font-size: 1em;
  margin: 0;
  align-self: center;
}
footer .footer-top .socials {
  display: flex;
  flex-wrap: nowrap;
}
footer .footer-top .socials a img {
  color: #e6e6e6;
  margin: 10px;
  width: 2vh;
}
footer .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
}
footer .footer-bottom .projectby a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e6e6e6;
}
footer .footer-bottom .projectby a img {
  width: 2vh;
  height: 2vh;
  margin: 10px;
}
footer .footer-bottom .projectby a p {
  margin: 0;
  font-weight: 200;
}
footer .footer-bottom .projectby a p:hover {
  font-weight: 600;
}

.home {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  min-height: inherit;
  text-align: center;
}
.home .home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 0 3em;
}
.home .home-left .hero-title {
  font-size: 3.5em;
  font-weight: 400;
  margin: 0 0 30px 0;
}
.home .home-left .hero-p {
  font-size: 1.2em;
}
.home .home-left .buttons {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.home .home-left .buttons a {
  margin: 10px;
}
.home .home-left .buttons a .primary-button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  background-color: black;
  color: #e6e6e6;
  font-size: 18px;
}
.home .home-left .buttons a .primary-button:hover {
  cursor: pointer;
  background-color: #4d4d4d;
  font-weight: 600;
}
.home .home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.home .home-right .hero-image {
  margin-top: auto 0;
}
.home .home-right .hero-image img {
  width: 80%;
  border-radius: 50px;
}

.aboutus {
  width: 90%;
  align-self: center;
}
.aboutus .aboutus-top {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  align-items: start;
}
.aboutus .aboutus-top .left {
  flex-grow: 1;
  width: 30%;
  padding: 3em;
}
.aboutus .aboutus-top .left .title {
  margin: 0;
  width: 80%;
}
.aboutus .aboutus-top .right {
  flex-grow: 1;
  width: 40%;
  padding: 3em;
}
.aboutus .aboutus-top .right .accordion {
  padding: 0 2em 0 2em;
  width: 50vw;
  --bs-accordion-bg: inherit;
  --bs-accordion-border-color: inherit;
  font-size: 1.2em;
  font-weight: 300;
}
.aboutus .aboutus-top .right .accordion .accordion-item {
  border-bottom: 1px black solid;
  border-radius: 0;
  --bs-accordion-active-color: black;
}
.aboutus .aboutus-top .right .accordion .accordion-item .accordion-header .accordion-button {
  box-shadow: inherit !important;
  font-size: 0.7em;
  font-weight: 500;
}
.aboutus .aboutus-top .right .accordion .accordion-item .accordion-header .accordion-button[aria-expanded=true] {
  background-color: inherit;
}
.aboutus .aboutus-top .right .accordion .accordion-item .accordion-body {
  margin-bottom: 20px;
}
.aboutus .aboutus-middle .middletop {
  display: flex;
  flex-direction: column;
}
.aboutus .aboutus-middle .middletop h1 {
  text-align: center;
  margin: 2em;
}
.aboutus .aboutus-middle .middletop .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5em;
}
.aboutus .aboutus-middle .middletop .content .middleftimg img {
  width: 40em;
  border-radius: 30% 20% 30% 70%/150% 60% 190%;
}
.aboutus .aboutus-middle .middletop .content .special-sauce {
  width: 50%;
  padding-left: 5em;
  padding-right: 5em;
}
.aboutus .aboutus-middle .middletop .content .special-sauce .special-sauce-title {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.aboutus .aboutus-middle .middletop .content .special-sauce .special-sauce-text {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.7em;
  margin: 0;
}
.aboutus .aboutus-middle .middlebottom {
  display: flex;
  align-items: center;
}
.aboutus .aboutus-middle .middlebottom .left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.aboutus .aboutus-middle .middlebottom .left .special-sauce {
  width: 80%;
  padding-left: 5em;
  padding-right: 5em;
  margin-bottom: 5em;
}
.aboutus .aboutus-middle .middlebottom .left .special-sauce .special-sauce-title {
  margin-bottom: 1em;
  font-size: 1.5em;
}
.aboutus .aboutus-middle .middlebottom .left .special-sauce .special-sauce-text {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.7em;
  margin: 0;
}
.aboutus .aboutus-middle .middlebottom .right {
  flex-grow: 1;
}
.aboutus .aboutus-middle .middlebottom .right img {
  width: 30vw;
}
.aboutus .aboutus-testimonials {
  margin-bottom: 5em;
}
.aboutus .aboutus-testimonials h1 {
  text-align: center;
  margin: 2em;
}
.aboutus .aboutus-testimonials .testimonials {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}
.aboutus .aboutus-testimonials .testimonials .single-testimonial {
  width: 40%;
  margin: 2em;
}
.aboutus .aboutus-testimonials .testimonials .single-testimonial .top h2 {
  font-size: 2em;
}
.aboutus .aboutus-testimonials .testimonials .single-testimonial .bottom {
  margin-top: 2em;
  display: flex;
  align-items: center;
}
.aboutus .aboutus-testimonials .testimonials .single-testimonial .bottom img {
  width: 20%;
  border-radius: 100%;
  margin: 1em;
}

.faqs {
  display: flex;
  flex-direction: column;
}
.faqs h1 {
  margin: 1em 0 1em 100px;
}
.faqs .image img {
  width: 50%;
  border: none;
  border-radius: 100px;
  margin: 1em 0 1em 100px;
}
.faqs .questions-answers-accordion {
  display: flex;
  justify-content: flex-end;
  margin: 5em;
}
.faqs .questions-answers-accordion .arrow-icon {
  margin: auto;
  display: flex;
  justify-content: center;
}
.faqs .questions-answers-accordion .arrow-icon img {
  width: 50%;
}
.faqs .questions-answers-accordion .accordion {
  padding: 0 2em 0 2em;
  width: 50vw;
  --bs-accordion-bg: inherit;
  --bs-accordion-border-color: inherit;
  font-size: 1.2em;
  font-weight: 300;
}
.faqs .questions-answers-accordion .accordion .accordion-item {
  border-bottom: 1px black solid;
  border-radius: 0;
  --bs-accordion-active-color: black;
}
.faqs .questions-answers-accordion .accordion .accordion-item .accordion-header .accordion-button {
  box-shadow: inherit !important;
  font-size: 0.7em;
  font-weight: 500;
}
.faqs .questions-answers-accordion .accordion .accordion-item .accordion-header .accordion-button[aria-expanded=true] {
  background-color: inherit;
}
.faqs .questions-answers-accordion .accordion .accordion-item .accordion-body {
  margin-bottom: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .input-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
  padding: 0.5em;
}
.contact .input-item input, .contact .input-item textarea {
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}
.contact h1 {
  text-align: center;
  margin: 2em;
}
.contact form {
  display: flex;
  flex-direction: column;
}
.contact form .fullname {
  display: flex;
  justify-content: space-between;
}
.contact form #submit-button {
  align-self: center;
  width: 200px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.5em 2em;
  transition: background-color 0.3s;
}
.contact form #submit-button:active {
  background-color: #bd63ef;
}/*# sourceMappingURL=main.css.map */